<!DOCTYPE html>
<html>
  <head>
    <p style="text-align:right"><a href="./">Homepage</a>
      <h3 style=text-align:center;> Day 2 : Snake Game </h3>
      <p style=text-align:center;> use the ↑, ↓, →, ←, or swipe to navigate the snake! </p>

    <hr/>
        <script src="p5.min.js"></script>
        <script src="hammer.min.js"></script>
        <script src="snake.js"></script>
  </head>
  <body>
  </body>

</html>
