<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="This is a coding challenge website">
    <title>Christopher Dip</title>
    <h1 style="color:darksalmon;"> <b> Hey! </b> I'm Christopher Dip</h1>
    <p>And I will be coding an online project <b>every day for 90 days.</b></p>
    <p><small>This is inspired by <a href="https://jenniferdewalt.com/">Jennifer Dewalt's</a> 180 day project</small></p>
    <hr/>
  </head>

  <body style="background-color:white;">
    <p>Day 4: <a href="./day4">Top Highschools in Quebec</a></p>
    <p>Day 3: <a href="./day3">What's the weather?</a></p>
    <p>Day 2: <a href="./day2">Snake Game</a></p>
    <p>Day 1: <a href="./">Homepage</a></p>
  </body>
</html>
